[submodule "mboss-web"]
	path = mboss-web
	url = https://github.com/ashtable/mboss-web
	branch = web-v0.0.9
[submodule "mboss-nodejs-api"]
	path = mboss-nodejs-api
	url = https://github.com/ashtable/mboss-nodejs-api
	branch = api-v0.0.7
[submodule "mboss-nodejs-dbos"]
	path = mboss-nodejs-dbos
	url = https://github.com/ashtable/mboss-nodejs-dbos
	branch = dbos-v0.0.10
